<section>
  <h2 class="title">Entre como participante</h2>
  <form action="/enter-room" method="post" class="form">
    <label class="sr-only" for="room-id">Código da Sala</label>
    <input class="normal-input" name="roomId" type="number" id="room-id" placeholder="Código da Sala">
    <button class="btn btn-primary --btn-blue">
      <object data="/images/login-icon.svg" type="image/svg+xml" alt="Icone do botão de login"></object>
      Entrar na Sala
    </button>
  </form>  
</section>

<div class="separator">
  <div class="separator-line"></div>
  <p>ou</p>
  <div class="separator-line"></div>
</div>

<section>
  <h2 class="title">Crie sua própria sala de forma fácil</h2>
  <a class="btn --btn-border-blue" href="/new-room">
    <!-- SVG declaration also supported by IE -->
    <object data="/images/create-room-icon.svg" type="image/svg+xml" alt="Icone do botão de criar nova sala"></object>
    Criar Sala
  </a>
</section>