<section id="container">
  <h2 class="title">Crie sua própria sala</h2>
  <form action="/create-room" method="post" class="form">
    <label class="sr-only" for="room-code">Insira uma senha</label>
    <input class="normal-input" type="password" name="password" id="room-code" placeholder="Insira uma senha">
    <button class="btn btn-primary --btn-blue" href="/room">
      <object data="/images/create-room-white-icon.svg" type="image/svg+xml" alt="Criar nova Sala"></object>
      Criar Sala
    </button>
  </form>  
</section>