<section id="noQuestionWrapper">
  <object data="/images/no-questions-icon.svg" type="image/svg+xml" alt="Nenhuma pergunta por aqui, faça sua primeira pergunta"></object>
  <p>Nenhuma pergunta por aqui</p>
  <p>Faça sua primeira pergunta e envie o<br>código dessa sala para outras pessoas!</p>
</section>