.contentWrapper {
  width: min(90%, 100%);
  justify-self: center;
}

/* --------------------- Header Section ------------------------ */

#header {
  width: auto;
  padding: 3.2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .buttons {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: clamp(14px, 1.6rem, 2vw);
}

#header .buttons .--btn-blue{
  padding: 0 1.6rem;
  line-height: 2.4rem;
}

#header .buttons .--btn-border-blue{
  padding: 1.3rem 1.6rem;
  line-height: 2.4rem;
  margin-right: .8rem;
}

#header .buttons .--btn-border-blue > object{
  margin-left: 1rem;
  margin-right: 0;
  flex-direction: r;
}

/* ----------------------- Q&A Section ------------------------- */

#question-form .form-outlined {
  display: grid;

  border: .2rem solid var(--grey-blue);
  border-radius: 0 .8rem .8rem .8rem;

  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  margin-bottom: 1.6rem;
  height: 10.6rem;
}

#question-form .form-outlined textarea {
  resize: none;
  outline: none;
  width: 100%;

  background-color: transparent;
}

#question-form .form-outlined textarea::placeholder{
  color: var(--grey-blue);
}

#question-form .form-outlined .form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  align-self: flex-end;
}

#question-form .form-outlined .form-footer > div {
  display: flex;
  align-items: center;
  color: var(--iconsDetailsColor)
}

#question-form .form-outlined .form-footer > div object{
  margin-right: .6rem;
}

/* Estilo do botão menor */
#question-form .form-outlined .form-footer .--btn-blue{
  height: 4rem;
  width: unset;
  padding: 0 2.4rem;
}

/* ----------------------- Questions Section ------------------------- */

#questions {
  height: 100vh;
}

#questions .question-wrapper {
  display: grid;

  padding: 2.4rem;
  margin-bottom: .8rem;
  height: min(11.2rem, 22.4rem);
  
  border-radius: 0 .8rem .8rem .8rem;

  background-color: var(--lightblue);

}

#questions .question-wrapper .question-content {
  display: flex;
  align-items: flex-start;

  margin-bottom: .8rem;
  overflow: overlay;
}

/* User Avatar */
#questions .question-wrapper .question-content .user {
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-right: 1.6rem;
}

#questions .question-wrapper .question-content .user .user-circle {
  clip-path: circle();
  background-color: var(--blue);  
  padding: 1.4rem;  
}

#questions .question-wrapper .question-content .question-text {
  display: flex;
  align-items: center;
  color: var(--black);
  word-break: break-word;
  min-height: 5.5rem;
}

/* Question | Read */
#questions .question-wrapper.read {
  background-color: #eaecf1;
}

#questions .question-wrapper.read .question-content .user .user-circle {
  background-color: var(--grey-blue);

}

/* Actions */

#questions .question-wrapper .actions {
  align-self: flex-end;
  justify-self: flex-end;
}

#questions .question-wrapper .actions .check {
  margin-right: 2.4rem;
}

#questions .question-wrapper .actions .--align {
  display: inline-flex;
  align-items: center;
}

#questions .question-wrapper .actions .--align object {
  margin-right: .8rem;
}

/* ----------------------- MODAL Section ------------------------- */

#modal {
  background-color: var(--overlay);
  opacity: 80%;

  position: absolute;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  /* visibility: hidden; */
}

#modal .modal {
  background-color: var(--background);

  border-radius: .8rem;
  padding: 6.4rem 8.6rem;

  display: grid;
  justify-items: center;
}

#modal .modal > p {
  color: var(--grey-black);

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#modal .modal .modal-form {
  width: 100%;

  display: grid;
  justify-items: center;
}

#modal .modal .modal-form > input {
  border: .2rem solid var(--blue);
  padding: 0 1.2rem;
  width: 95%;
  line-height: 0;

  margin-bottom: 4rem;
  margin-top: 2.4rem;
}

#modal .modal .modal-form .buttons {
  display: flex;
  justify-content: space-between;

  width: 100%;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

#modal .modal .modal-form .buttons button:nth-child(1) {
  color: var(--grey-black);
  margin-right: .8rem;
  width: 80%;
}

